.game {
  width: 600px;
  margin: 20px auto;
}
.game__settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 0 auto;
}

.settings-game label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #333;
}

.settings-game input[type="number"] {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}


.game__button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
}
.game__button:hover {
  background-color: #218838;
}
.game__result {
  margin-top: 20px;
  background-color: #eaf0e5;
  padding: 10px;
  border-radius: 4px;
  color: #333;
}

.game__info{
  width: 100%;
}

.game__help {
  margin-top: 20px;
  background-color: #eeba2c;
  padding: 10px;
  border-radius: 4px;
  color: #333;
}


.game__board {
  display: grid;
  gap: 1px;
  margin: 20px 0;
  justify-content: center;
}
.cell {
  width: 30px;
  height: 30px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}
.cell:hover {
  border: 2px solid blue;
}

.error {
  background-color: tomato;
}

.hit {
  background-color: red;
}
.miss {
  background-color: rgb(182, 255, 152);
}